.promotion{
    position: relative;
}
.promotion .promotion__category{
    display: flex;
    position: absolute;
    top:100px;
    left: 250px;
}
.promotion .promotion__category select{
    height: 35px;
}

.promotion .promotion__input{
    display: flex;
    position: absolute;
    top:100px;
    left: 470px;
}

.promotion .promotion__input .promotion__input-text{
    font-weight: bold;
    min-width: 250px;
    margin-top: 10px;
}
.promotion .promotion__input input{
    height: 35px;
}
.promotion .promotion__increase{
    position: absolute;
    top:100px;
    left: 1050px;
  
}

.promotion .promotion__decrease {
    position: absolute;
    top:100px;
    left: 1200px;

}

