.card__order{
    padding-top: 70px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px !important;
}
.cardHeader{
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 1px solid #cecece;
}
.cardHeader__breadcrumb{
    margin-left: 190px;
    padding: 10px 20px;
}